body {
  background: url("../images/desert00.jpg") no-repeat center center fixed;
  /* credit: https://www.pexels.com/photo/daylight-desert-drought-dry-459319/ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  font-size: 12pt;
}

.header-container {
  padding-bottom: 30px;
}

.header-container a {
  text-decoration: none;
  color: inherit;
}

.formbutton {
  text-align: center;
}

.form-container {
  background-color: white;
  /* opacity: 0.5; */
  padding: 20px;
}

.step1a, .step2a {
  height: 50vh;
  /* margin: 0 auto; */
  text-align: center;
  padding: 50px;
}
.step1a button {
  min-width: 35%;
  margin: 20px;
}

.step4-table1 {
  background-color: white;
  padding: 20px;
}

.table1-data {
  text-align: center;
}
